h1 {
    background-color: black;
    color: blanchedalmond;
    margin: 0;
}

body {
    margin: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 670px
}

/* Set gray background color and 100% height */

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Search Bar Format*/

.search-area {
    padding: 0px;
}

.form-input-a {
    display: inline;
    width: 80%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: .3rem;
    background-color: white;
  }

  .form-input-b {
    display: inline;
    width: 15%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: .3rem;
    background-color: blue;
  }

/*Current Weather Area Formatting*/
.cwa {
    border: 1px solid black;
    height: 330px;
    padding: 3%;
    margin-top: 10px;
    border-radius: 15px;
}

.cwa h2 {
    margin-bottom: 8%;
}
/*Current Weather Area Formatting*/



/*5 Day Forecast Formatting*/

h2 {
    margin: 5px;
}

.well {
    background-color: white;
    margin-bottom: 0px;
}

.wellfdf {
    height: 285px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3%;
}

/*5 Day Forecast Formatting*/


/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
}